# Biến môi trường mẫu
# URL
APP_URL=https://fe-dns-here.example/
ADMIN_URL=https://fe-dns-here.example/admin
# API
AUTH_API=https://be-dns-here.example/auth
PRODUCTS_API=https://be-dns-here.example/products
# Database
DB_CONNECTION=pgsql
POSTGRES_HOST=db-main
POSTGRES_PORT=5432
POSTGRES_USER=user_here
POSTGRES_PASSWORD=pwd_here
POSTGRES_DB=db_here
# JWT
JWT_SECRET=our_jwt_secret_here
JWT_EXPIRES_IN=3600_seconds